Repository pulseengine/glsp-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, rust-test, frontend-test

typescript-check:
  name: TypeScript type check (glsp-web-client)
  entry: bash -c 'cd glsp-web-client && npm run type-check'
  language: system
  pass_filenames: false

rust-test:
  name: Rust tests (glsp-mcp-server)
  entry: bash -c 'cd glsp-mcp-server && cargo test'
  language: system
  pass_filenames: false

frontend-test:
  name: Frontend tests (glsp-web-client)
  entry: bash -c 'cd glsp-web-client && if [ -d "src/__tests__" ] || grep -q "test.*script" package.json; then npm test -- --passWithNoTests; else echo "No tests configured, skipping"; fi'
  language: system
  pass_filenames: false

Update progress: Phase 5 complete - ALL future enhancements implemented!
  glsp-web-client/IMPLEMENTATION-PROGRESS.md
Due: none

Update progress: Phase 1 complete, all quick fixes done
  glsp-web-client/IMPLEMENTATION-PROGRESS.md
Due: none

Add comprehensive architecture analysis and assessment
  glsp-web-client/ARCHITECTURE-ASSESSMENT.md
Due: none

Add comprehensive implementation progress report
  glsp-web-client/IMPLEMENTATION-PROGRESS.md
Due: none

Integrate UI improvements: consistent panel animations and behavior
  glsp-web-client/index.html
  glsp-web-client/src/AppController.ts
  glsp-web-client/src/ui/FloatingPanel.ts
  glsp-web-client/src/ui/UIManager.ts
Due: typescript-check, frontend-test

Phase 3: Advanced features - Search and Keyboard Shortcuts
  glsp-web-client/src/AppController.ts
  glsp-web-client/src/ui/UIManager.ts
Due: typescript-check, frontend-test

Add comprehensive frontend testing framework with Vitest
  glsp-web-client/FRONTEND-TESTING.md
  glsp-web-client/package-lock.json
  glsp-web-client/package.json
  glsp-web-client/src/mcp/client.test.ts
  glsp-web-client/src/renderer/canvas-renderer.test.ts
  glsp-web-client/src/services/DiagramService.test.ts
  glsp-web-client/src/services/McpService.test.ts
  glsp-web-client/src/services/StatusManager.test.ts
  glsp-web-client/src/test/mockData.ts
  glsp-web-client/src/test/setup.ts
  glsp-web-client/vitest.config.ts
Due: typescript-check, frontend-test

Update progress: Phase 2 complete - Context-aware sidebar system
  glsp-web-client/IMPLEMENTATION-PROGRESS.md
Due: none

Add consistent UI panel system with minimize-to-top
  glsp-web-client/UI-IMPROVEMENTS-GUIDE.md
  glsp-web-client/src/styles/panel-animations.css
  glsp-web-client/src/ui/MinimizedPanelsBar.ts
  glsp-web-client/src/ui/PanelManagerIntegration.ts
Due: typescript-check, frontend-test

Apply linting fixes (clippy and rustfmt)
  glsp-mcp-server/src/wasm/simulation.rs
  glsp-mcp-server/tests/simple_integration_test.rs
Due: rust-test

Update progress: FULL STRATEGIC PLAN COMPLETE!
  glsp-web-client/IMPLEMENTATION-PROGRESS.md
Due: none

Implement Quick Fix 5: Group diagrams by type in sidebar
  glsp-web-client/IMPLEMENTATION-PROGRESS.md
  glsp-web-client/src/ui/UIManager.ts
Due: typescript-check, frontend-test

Phase 5: Future Enhancements - Favorites, Tags, Bulk Ops, Import/Export, Ctrl+S
  glsp-web-client/src/AppController.ts
  glsp-web-client/src/ui/UIManager.ts
  glsp-web-client/src/ui/ViewSwitcher.ts
  glsp-web-client/src/utils/DiagramTagsManager.ts
  glsp-web-client/src/utils/FavoriteDiagramsManager.ts
Due: typescript-check, frontend-test

Add comprehensive feature analysis and quick fix proposals
  glsp-web-client/FEATURE-ANALYSIS-AND-PROPOSAL.md
  glsp-web-client/QUICK-FIXES.md
Due: none

Phase 2: Implement context-aware sidebar system
  glsp-web-client/src/AppController.ts
  glsp-web-client/src/ui/UIManager.ts
  glsp-web-client/src/ui/sidebar/SidebarComponent.ts
Due: typescript-check, frontend-test

Phase 1: Rename wit-interface diagram type to wit-schema
  glsp-web-client/src/AppController.ts
  glsp-web-client/src/diagrams/diagram-type-registry.ts
  glsp-web-client/src/ui/UIManager.ts
Due: typescript-check, frontend-test

Phase 4: Optional Enhancements - Recent Diagrams & Ctrl+N
  glsp-web-client/src/AppController.ts
  glsp-web-client/src/ui/UIManager.ts
  glsp-web-client/src/utils/RecentDiagramsManager.ts
Due: typescript-check, frontend-test

Complete codebase cleanup and testing infrastructure
  Cargo.toml
  DEPENDENCIES-UPGRADE.md
  TEST-REPORT.md
  TESTING.md
  glsp-mcp-server/Cargo.toml
  glsp-mcp-server/src/wasm/execution_engine.rs
  glsp-mcp-server/tests/mock_wasm_components.rs
  glsp-mcp-server/tests/simple_integration_test.rs
  workspace/adas-wasm-components/adas-build/wasi-nn/Cargo.toml
  workspace/adas-wasm-components/examples/wasmtime-host/Cargo.toml
Due: rust-test

Documentation: Phase 5 enhancements detailed guide
  glsp-web-client/PHASE-5-ENHANCEMENTS.md
Due: none

Add comprehensive architecture analysis and assessment
  ARCHITECTURE-ANALYSIS.md
Due: none

Add comprehensive linting and code quality report
  LINTING-REPORT.md
Due: none

Implement Quick Fix 4: Add view mode help tooltip
  glsp-web-client/src/ui/ViewSwitcher.ts
Due: typescript-check, frontend-test

Final documentation: Phase 4 complete - Recent Diagrams & Ctrl+N
  glsp-web-client/IMPLEMENTATION-PROGRESS.md
Due: none

Implement tactical UX improvements (Quick Fixes 1-3, 6-7)
  glsp-web-client/src/AppController.ts
  glsp-web-client/src/ui/UIManager.ts
  glsp-web-client/src/ui/ViewSwitcher.ts
  glsp-web-client/src/ui/sidebar/SidebarComponent.ts
Due: typescript-check, frontend-test

Path conditions:
  typescript-check: any of: ^glsp-web-client/.*\.tsx?$
  rust-test: any of: ^glsp-mcp-server/.*\.rs$
  frontend-test: any of: ^glsp-web-client/.*\.(ts|tsx|js|jsx)$
