Repository pulseengine/glsp-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, rust-test, frontend-test

.pre-commit-config.yaml:

# Pre-commit hooks for GLSP-Rust project
# See https://pre-commit.com for more information
repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
        exclude: '^workspace/adas-wasm-components/'
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Rust formatting and linting
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: Rust fmt (glsp-mcp-server)
        args: ['--manifest-path=glsp-mcp-server/Cargo.toml', '--']
      - id: clippy
        name: Rust clippy (glsp-mcp-server)
        args: ['--manifest-path=glsp-mcp-server/Cargo.toml', '--', '-D', 'warnings']

  # TypeScript/JavaScript formatting and linting
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        name: ESLint (glsp-web-client)
        files: '^glsp-web-client/.*\.(ts|js|tsx|jsx)$'
        args: ['--fix']
        additional_dependencies:
          - '@typescript-eslint/eslint-plugin@^6.0.0'
          - '@typescript-eslint/parser@^6.0.0'
          - 'eslint@^8.0.0'

  # Prettier for consistent formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: Prettier (glsp-web-client)
        files: '^glsp-web-client/.*\.(ts|js|tsx|jsx|json|css|md|yaml|yml)$'
        exclude: '^glsp-web-client/node_modules/|^glsp-web-client/dist/'

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript type check (glsp-web-client)
        entry: bash -c 'cd glsp-web-client && npm run type-check'
        language: system
        files: '^glsp-web-client/.*\.tsx?$'
        pass_filenames: false

  # Rust tests
  - repo: local
    hooks:
      - id: rust-test
        name: Rust tests (glsp-mcp-server)
        entry: bash -c 'cd glsp-mcp-server && cargo test'
        language: system
        files: '^glsp-mcp-server/.*\.rs$'
        pass_filenames: false

  # Frontend tests (if they exist)
  - repo: local
    hooks:
      - id: frontend-test
        name: Frontend tests (glsp-web-client)
        entry: bash -c 'cd glsp-web-client && if [ -d "src/__tests__" ] || grep -q "test.*script" package.json; then npm test -- --passWithNoTests; else echo "No tests configured, skipping"; fi'
        language: system
        files: '^glsp-web-client/.*\.(ts|tsx|js|jsx)$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '^workspace/adas-wasm-components/.*\.wasm$|\.lock$'

  # Commit message format
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [optional-scope]

  # Documentation checks
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: insert-license
        name: Insert license header (Rust)
        files: '^glsp-mcp-server/.*\.rs$'
        args:
          - --license-filepath
          - LICENSE_HEADER.txt
          - --comment-style
          - //

# Default language version
default_language_version:
  python: python3

# Configure specific settings
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Fix more TypeScript errors - InteractionManager casting and BaseDialog visibility
  glsp-web-client/src/services/ValidationService.ts
  glsp-web-client/src/ui/InteractionManager.ts
  glsp-web-client/src/ui/dialogs/base/BaseDialog.ts
  glsp-web-client/src/ui/dialogs/specialized/InterfaceConnectionDialog.ts
Due: typescript-check, frontend-test

Fix more TypeScript errors - type casting and property access
  glsp-web-client/src/ui/InteractionManager.ts
  glsp-web-client/src/ui/modals/InterfaceConnectionEditor.ts
  glsp-web-client/src/ui/sidebar/sections/PropertiesSection.ts
Due: typescript-check, frontend-test

Fix more TypeScript errors - UIManager and PropertiesSection type casting
  glsp-web-client/src/ui/UIManager.ts
  glsp-web-client/src/ui/sidebar/sections/PropertiesSection.ts
Due: typescript-check, frontend-test

Fix unused variable errors by removing underscores from actually used methods
  glsp-web-client/src/AppController.ts
  glsp-web-client/src/ui/InteractionManager.ts
  glsp-web-client/src/ui/sidebar/sections/ComponentLibrarySection.ts
Due: typescript-check, frontend-test

Fix TypeScript false positives and properly use stored state
  glsp-web-client/src/AppController.ts
  glsp-web-client/src/ui/AIAssistantPanel.ts
Due: typescript-check, frontend-test

Fix UIManager type assertion and property access errors
  glsp-web-client/src/ui/UIManager.ts
Due: typescript-check, frontend-test

Fix UIManager sidebar method calls and null safety
  glsp-web-client/src/ui/UIManager.ts
Due: typescript-check, frontend-test

Fix multiple TypeScript type errors across UI components
  glsp-web-client/src/ui/ViewModeManager.ts
  glsp-web-client/src/ui/WasmComponentPanelRefactored.ts
  glsp-web-client/src/ui/views/ComponentGroupDeployView.ts
Due: typescript-check, frontend-test

Fix WasmComponentPanel and WasmViewTransformer type errors
  glsp-web-client/src/ui/WasmComponentPanelRefactored.ts
  glsp-web-client/src/ui/WasmViewTransformer.ts
Due: typescript-check, frontend-test

Fix WasmViewTransformer and WitFileViewer type errors
  glsp-web-client/src/ui/WasmViewTransformer.ts
  glsp-web-client/src/ui/WitFileViewer.ts
Due: typescript-check, frontend-test

feat: implement missing functionality instead of suppressing warnings
  glsp-mcp-server/.claude/settings.local.json
  glsp-mcp-server/diagrams/New WASM 2025-06-28.glsp.json
  glsp-mcp-server/diagrams/New WASM 2025-06-28.glsp.layout.json
  glsp-mcp-server/src/backend.rs
  glsp-mcp-server/src/database/config.rs
  glsp-mcp-server/src/database/dataset.rs
  glsp-mcp-server/src/database/error.rs
  glsp-mcp-server/src/database/factory.rs
  glsp-mcp-server/src/database/factory_tests.rs
  glsp-mcp-server/src/database/influxdb.rs
  glsp-mcp-server/src/database/mod.rs
  glsp-mcp-server/src/database/models.rs
  glsp-mcp-server/src/database/postgresql.rs
  glsp-mcp-server/src/database/redis.rs
  glsp-mcp-server/src/database/tests.rs
  glsp-mcp-server/src/database/traits.rs
  glsp-mcp-server/src/lib.rs
  glsp-mcp-server/src/main.rs
  glsp-mcp-server/src/mcp/mod.rs
  glsp-mcp-server/src/mcp/prompts.rs
  glsp-mcp-server/src/mcp/protocol.rs
  glsp-mcp-server/src/mcp/resources.rs
  glsp-mcp-server/src/mcp/tools.rs
  glsp-mcp-server/src/model/mod.rs
  glsp-mcp-server/src/operations/mod.rs
  glsp-mcp-server/src/persistence.rs
  glsp-mcp-server/src/selection/mod.rs
  glsp-mcp-server/src/validation/mod.rs
  glsp-mcp-server/src/wasm/execution_engine.rs
  glsp-mcp-server/src/wasm/graphics_renderer.rs
  glsp-mcp-server/src/wasm/mod.rs
  glsp-mcp-server/src/wasm/pipeline.rs
  glsp-mcp-server/src/wasm/security_scanner.rs
  glsp-mcp-server/src/wasm/sensor_bridge.rs
  glsp-mcp-server/src/wasm/simulation.rs
  glsp-mcp-server/src/wasm/wit_analyzer.rs
Due: rust-test

Added uml functionality
  README.md
  docs/pictures/Class_diagram.png
  glsp-mcp-server/src/backend.rs
  glsp-mcp-server/src/mcp/tools.rs
  tasklist_mcp_client/Cargo.toml
  tasklist_mcp_client/src/main.rs
  tasklist_mcp_client/src/sample_uml.rs
  tasklist_mcp_client/src/utils.rs
Due: rust-test

Updated README with embedded screenshot image
  README.md
Due: none

Add comprehensive project status report
  docs/STATUS.md
Due: none

Add comprehensive status reports for all branches
  docs/STATUS-main.md
  docs/STATUS-pre-commit-debugging.md
  docs/STATUS-ralf-main.md
Due: none

Complete codebase cleanup and testing infrastructure
  Cargo.toml
  DEPENDENCIES-UPGRADE.md
  TEST-REPORT.md
  TESTING.md
  glsp-mcp-server/Cargo.toml
  glsp-mcp-server/src/wasm/execution_engine.rs
  glsp-mcp-server/tests/mock_wasm_components.rs
  glsp-mcp-server/tests/simple_integration_test.rs
  workspace/adas-wasm-components/adas-build/wasi-nn/Cargo.toml
  workspace/adas-wasm-components/examples/wasmtime-host/Cargo.toml
Due: rust-test

Apply linting fixes (clippy and rustfmt)
  glsp-mcp-server/src/wasm/simulation.rs
  glsp-mcp-server/tests/simple_integration_test.rs
Due: rust-test

Add comprehensive linting and code quality report
  LINTING-REPORT.md
Due: none

Add comprehensive architecture analysis and assessment
  ARCHITECTURE-ANALYSIS.md
Due: none

Add comprehensive frontend testing framework with Vitest
  glsp-web-client/FRONTEND-TESTING.md
  glsp-web-client/package-lock.json
  glsp-web-client/package.json
  glsp-web-client/src/mcp/client.test.ts
  glsp-web-client/src/renderer/canvas-renderer.test.ts
  glsp-web-client/src/services/DiagramService.test.ts
  glsp-web-client/src/services/McpService.test.ts
  glsp-web-client/src/services/StatusManager.test.ts
  glsp-web-client/src/test/mockData.ts
  glsp-web-client/src/test/setup.ts
  glsp-web-client/vitest.config.ts
Due: typescript-check, frontend-test

Add comprehensive architecture analysis and assessment
  glsp-web-client/ARCHITECTURE-ASSESSMENT.md
Due: none

Add consistent UI panel system with minimize-to-top
  glsp-web-client/UI-IMPROVEMENTS-GUIDE.md
  glsp-web-client/src/styles/panel-animations.css
  glsp-web-client/src/ui/MinimizedPanelsBar.ts
  glsp-web-client/src/ui/PanelManagerIntegration.ts
Due: typescript-check, frontend-test

Integrate UI improvements: consistent panel animations and behavior
  glsp-web-client/index.html
  glsp-web-client/src/AppController.ts
  glsp-web-client/src/ui/FloatingPanel.ts
  glsp-web-client/src/ui/UIManager.ts
Due: typescript-check, frontend-test

Add comprehensive feature analysis and quick fix proposals
  glsp-web-client/FEATURE-ANALYSIS-AND-PROPOSAL.md
  glsp-web-client/QUICK-FIXES.md
Due: none

Implement tactical UX improvements (Quick Fixes 1-3, 6-7)
  glsp-web-client/src/AppController.ts
  glsp-web-client/src/ui/UIManager.ts
  glsp-web-client/src/ui/ViewSwitcher.ts
  glsp-web-client/src/ui/sidebar/SidebarComponent.ts
Due: typescript-check, frontend-test

Implement Quick Fix 4: Add view mode help tooltip
  glsp-web-client/src/ui/ViewSwitcher.ts
Due: typescript-check, frontend-test

Add comprehensive implementation progress report
  glsp-web-client/IMPLEMENTATION-PROGRESS.md
Due: none

Implement Quick Fix 5: Group diagrams by type in sidebar
  glsp-web-client/IMPLEMENTATION-PROGRESS.md
  glsp-web-client/src/ui/UIManager.ts
Due: typescript-check, frontend-test

Phase 1: Rename wit-interface diagram type to wit-schema
  glsp-web-client/src/AppController.ts
  glsp-web-client/src/diagrams/diagram-type-registry.ts
  glsp-web-client/src/ui/UIManager.ts
Due: typescript-check, frontend-test

Update progress: Phase 1 complete, all quick fixes done
  glsp-web-client/IMPLEMENTATION-PROGRESS.md
Due: none

Phase 2: Implement context-aware sidebar system
  glsp-web-client/src/AppController.ts
  glsp-web-client/src/ui/UIManager.ts
  glsp-web-client/src/ui/sidebar/SidebarComponent.ts
Due: typescript-check, frontend-test

Update progress: Phase 2 complete - Context-aware sidebar system
  glsp-web-client/IMPLEMENTATION-PROGRESS.md
Due: none

Phase 3: Advanced features - Search and Keyboard Shortcuts
  glsp-web-client/src/AppController.ts
  glsp-web-client/src/ui/UIManager.ts
Due: typescript-check, frontend-test

Update progress: FULL STRATEGIC PLAN COMPLETE!
  glsp-web-client/IMPLEMENTATION-PROGRESS.md
Due: none

Phase 4: Optional Enhancements - Recent Diagrams & Ctrl+N
  glsp-web-client/src/AppController.ts
  glsp-web-client/src/ui/UIManager.ts
  glsp-web-client/src/utils/RecentDiagramsManager.ts
Due: typescript-check, frontend-test

Final documentation: Phase 4 complete - Recent Diagrams & Ctrl+N
  glsp-web-client/IMPLEMENTATION-PROGRESS.md
Due: none

Phase 5: Future Enhancements - Favorites, Tags, Bulk Ops, Import/Export, Ctrl+S
  glsp-web-client/src/AppController.ts
  glsp-web-client/src/ui/UIManager.ts
  glsp-web-client/src/ui/ViewSwitcher.ts
  glsp-web-client/src/utils/DiagramTagsManager.ts
  glsp-web-client/src/utils/FavoriteDiagramsManager.ts
Due: typescript-check, frontend-test

Documentation: Phase 5 enhancements detailed guide
  glsp-web-client/PHASE-5-ENHANCEMENTS.md
Due: none
